* {
   margin: 0 auto;
   padding: 0;
    --main-color : #3a3535;
    --background-color : #faf06e;
    --text-color: #e18d59;
    --second-text-color: #865536;
    --third-color: #42576d;
    background-color: var(--background-color);
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-direction: row;    
    gap: 1em;
    width: 80%;

    flex-wrap: wrap;
    margin: 1em;
}
section .content img {
    flex: 0 1 5%;
}
section .content .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1 1 50%;

    
}
section .content .text h1 {
    color: var(--text-color);
    -webkit-text-stroke: 0.1rem var(--main-color);
    font-size: 4em;
}
section .content .text p {
    color: var(--second-text-color);
    font-size: 1em;
}


